.App {
    background-color: rgba(32, 28, 28, 0.719);}


  

.App img {
    width:15%;
   
}

.App-header {
    display:flex;
    justify-content:center;
    padding-bottom: 10px;
}


.btn {
    display:flex;
    justify-content: space-between;
    padding-bottom: 20px;
    
}

.btn img {
    width:90px;
}

.btn button {
    
    background: linear-gradient(rgba(32, 28, 28, 0.719),white);
    width:25%;
    height:100px;
    margin:10px 10px;
}



.App .banniere {
    
    width:100%;
    
}

.newFilms {
    display:flex;
    justify-content: space-between;
    margin-left: 10px;
}

.newFilms img {
 width:90%;
}

.suggestions {
    display:flex;
    justify-content: space-between;
}

.suggestions img {
    width:32%;
    
}

iframe{
    opacity:0;
}

.video-visible {
   opacity:1;
}

