.company {
    background-color: rgba(32, 28, 28, 0.719);
}

.poster{
    display:flex;
    justify-content: space-between;
    
}

.poster img {
    width:90%;
}

.logo_company {
    display:flex;
    justify-content: center;
     
}

.catalogue {
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align:center;
    text-transform:uppercase;
    color:white;
    font-size:20px;
    margin-left:20px;
}