.App-header img {
    width:15%;
   
}

.pagefilm{
    background-color: rgba(32, 28, 28, 0.719);
}



img {
    width:25%;
    cursor: pointer;
}



.visible {
   opacity:1;
}

.corpus {
    display:flex;
    justify-content: space-between;
}

.text-presentation {
    color:white;
    margin-left: 15px;
    margin-right: 15px;
    text-align:justify;
}

p {
    font-size:15px;
    
}

.affiche-clic{
    position:relative;
}

.affiche-clic img {
    width:200px;
}

.icon-play span {
    position:absolute;
    left: 0;
      right: 0;
      top: 130px;
      bottom: 0;
      font-size:50px;
}

.icon-play {
   
    color:white;
}

